h1 {
    text-align: center;
    color:aliceblue;
    background-color: black;
    size:  50px;
}
img{
    width: 700px;
    height: 900px;
    background: transparent;
    margin: 20px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 20px 30px 3px rgba(156, 26, 26, 0.993);
    transform: scale(0.95);
    transition: all 0.5s;
    
}
img:hover {
    transform: scale(1);
    box-shadow: 0 5px 10px -12.125px rgba(0, 0, 0, 0.2);
  }
  